@use "@openedx/paragon/styles/css/core/custom-media-breakpoints" as paragonCustomMediaBreakpoints;

@import "~@edx/frontend-component-footer/dist/footer";
@import "./dark-mode";

// Components
@import '../components/EditCoursePage/EditCourseForm';
@import '../components/EditCoursePage/CollapsibleCourseRun';
@import '../components/Header/Header';
@import '../components/RichEditor/RichEditor';
@import '../components/StafferPage/StafferForm';
@import '../components/ListField/ListField';
@import '../components/SidePanes/CommentsPane';

::-webkit-search-cancel-button {
  display: none;
}


.custom-pill {
width: auto;
height: auto;
text-align: center;
line-height: 25px;
font-size: 12px;
}

.collaborator-form{
  font-size: 16px;
  font-weight: 550;
  color:#001747 ;
  border-radius:0 ;
}