$fa-font-path: "~font-awesome/fonts";

@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";
@import "~@edx/paragon/src/index";
@import "~font-awesome/scss/font-awesome";
@import "~@edx/frontend-component-footer/src/lib/scss/site-footer";
@import "./dark-mode";

// Components
@import '../components/EditCoursePage/EditCourseForm';
@import '../components/EditCoursePage/CollapsibleCourseRun';
@import '../components/Header/Header';
@import '../components/RichEditor/RichEditor';
@import '../components/StaffList/StaffList';
@import '../components/StafferPage/StafferForm';
@import '../components/SidePanes/CommentsPane';

::-webkit-search-cancel-button {
  display: none;
}
