$fa-font-path: "~font-awesome/fonts";

@import "~@edx/edx-bootstrap/sass/edx/theme";
@import "~bootstrap/scss/bootstrap";
@import "~@edx/paragon/src/index";
@import "~font-awesome/scss/font-awesome";
@import "~@edx/frontend-component-footer/src/lib/scss/site-footer";

// Components
@import '../components/EditCoursePage/CollapsibleCourseRunFields';
@import '../components/Header/Header';
@import '../components/StaffList/StaffList';
