.create-staffer-form {
  .staffer-image {
    .uploaded-image {
      max: {
        // These match the 'medium' size in course-discovery's model definition for the image field
        width: 110px;
        height: 110px;
      }
    }
  }
}
