.create-staffer-form {
  .staffer-image {
    .uploaded-image {
      max: {
        // These match the 'medium' size in course-discovery's model definition for the image field
        width: 110px;
        height: 110px;
      }
    }
  }

  // react-select specific styles
  .react-select__menu {
    z-index: 5;
  }

  .react-select__control {
    cursor: text;
  }

  .react-select__control.danger {
    border-color: red;
    box-shadow: none;
  }

  .react-select__control--menu-is-open{
    .react-select__single-value{
      color: #D3D3D3
    }
  }
}
.SocialArea{
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 550;
  color: #001747;
}
.cancelbutton{
  border: 1px solid #ddd;
  font-weight: 550;
  font-size: 16px;
  color: #001747;
  border-radius: 0;
}
.createbutton{
  background-color: #7C7E83;
  font-weight: bold;
  border-radius: 0;
}