.site-header {
  border-bottom: 1px solid $light-gray;

  .navbar-brand {
    max-width: 100px;
  }

  .badge.beta {
    background: $medium-gray;
    color: $white;
    font-size: 0.75rem;
  }

  .dropdown-button {
    color: $medium-gray;
    background: $white;
  }
}
