.custom-table {
    width: 100%;
    // table-layout: fixed; // Enforces equal column widths
    table-layout: auto !important;
    // border-collapse: collapse;
  
    thead {
      background-color: #343a40;
      color: white;
    }
  
    th, td {
      border: 1px solid #dee2e6;
      padding: 8px;
      text-align: left;
      word-wrap: break-word;
      vertical-align: top;
    }
  
    th {
      font-weight: bold;
    }
  }

  th, td {
    min-width: 150px; // adjust as needed
  }