

$cell-widths: 220px;

.csv-preview-modal {

    .pgn__data-table-layout-wrapper {
        display: block;
    }

    tr {
        th {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
        }
        td {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.csv-preview-fs-modal {
  .pgn__modal-header {
    background-color: #0A3055 !important;
    color: white !important;
  }
}

.bulk-op-details-table-container {
  thead {
    background-color:#F2F0EF;
  }

  .pgn__data-table.is-striped tbody tr:nth-child(even) {
    background-color: transparent !important;
  }

  tr {
      th {
        background-color: transparent !important;
      }
      td {
        background-color: transparent !important;
      }
  }

  .pgn__data-table-status-bar {
    display: none;
  }

  .pgn__data-table-footer {
    display: none;
   }
}
.download{
border-radius: 0;
font-weight: bold;
border: 1px solid #ddd;
font-size: 16px;
}
.PreviewCSV{
border-radius: 0;
font-weight: 550;
font-size: 16px;
}