.pgn__data-table {
    $cell-widths: 200px;

    tr {
        th {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
        }
        td {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
            text-overflow: ellipsis !important;
            white-space: nowrap;
        }
    }
}

.pgn__modal-header {
    background-color: #0A3055 !important;
    color: white;
}
