/* stylelint-disable */
thead,
thead tr,
tbody {
  display: block;
}

tbody {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
      width: 11px;
    }
    &:horizontal {
      height: 11px;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

td,
th {
  width: 25vw;
  max-width: 25vw;
}
