.data-container-excel {

    $cell-widths: 225px;
    .pgn__data-table-layout-wrapper {
        display: block;
    }

    tr {
        th {
            border: 1px solid black !important;
            min-width: $cell-widths;
            max-width: $cell-widths;
        }
        td {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
