.min-vh-65 {
    min-height: 65vh;
}

.data-container-excel {
    $cell-widths: 225px;
    .pgn__data-table-layout-wrapper {
        display: block;
        overflow-y: visible;
        overflow-x: visible;
    }

    tr {
        th {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
        }
        td {
            border: 1px solid black;
            min-width: $cell-widths;
            max-width: $cell-widths;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#bulk-operation-historical-records {
    .pgn__smart-status {
        display: none;
    }
}
.custom-selectmenu button {
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  font-weight: bold;
}

.custom-selectmenu button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ddd !important;
}
